# .gitignore

# Temporary files
~$*
*.tmp

# Jupyter
**/.ipynb_checkpoints/
Untitled*.ipynb

# Data
data/Analysis_Dataset_Body_Measurements_CM.xlsx
data/~$*.xlsx

# Python
__pycache__/
*.pyc